{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

<p>
    Welcome to this little introduction to arguments and logic!
</p>
<p>
    To get you started quickly, I've organized all information into levels. 
    I suggest to start at level one and progress through the levels just like you would in a game. 
    If you're revisiting the page, you can of course just continue where you left off. 
    If you register for an account, you can also save your progress, letting this site 
    do the remembering for you.
</p>

{% endblock %}